*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

h1{
    margin-bottom: 20px;
}

#msg{
    margin-bottom: 20px;
}

#name{
    margin-bottom: 20px;
}

