* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    flex-direction: column;
}


#para{

    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}


.active {
    color: white;
    background-color: black;
    padding: 10px
}